<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wylio.com</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <img style="width: 50%; margin: 2% 25% 0 25%;" width="75%" src="/public/logo.jpg" />
    <h1 style="text-align: center;">Wylio.com</h1>
    <h2 style="text-align: center;">This service is dormant. <a href="http://blog.wylio.com/2022/02/wylio-is-shutting-down.html">Read more.</a></h2>
  </body>
</html>
